/* HEADER */
.header {
    text-align: center;
    color: #fff;
}

.header-wrap {
    display: flex;
    padding-top: 2rem;
    position: relative;
    background-color: #FDD692;
}

.header-icons-Wrap {
    display: flex;
    width: 10%;
    justify-content: space-around;
}

.header-userIcon {
    margin-left: 60px;
}
/* NAVBAR */
.navBar-wrap {
    width: 80%;
    position: relative;
    
}
.navBar {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    opacity: 1;
    font-size: 24px;
    transition: opacity .25s linear;
}

.nav-item:hover {
    opacity: 1;
}

.nav-item--active {
    color: #1d8796;
    opacity: 1;
}